body {
  background-image: linear-gradient(
    to top,
    #e014e3 0%,
    #eceeef 75%,
    #e014e3 100%
  );
  min-height: 100vh;
  font: normal 16px sans-serif;
  padding: 60px 0;
}
.caja{
  height: 50px;
  padding: 10px;
  margin:20px;
  border-radius: 15px;
  outline: solid rgb(245, 246, 248);
  text-align: center;  
  
}
.nav-link{
  
  display: inline-block;
  position: relative;
  bottom: 5px;
  padding: 10px 30px;
  margin: 1px;
  text-decoration: none;
  color: #f4f4f4;
}
.nav-link:hover{
  color: rgb(255, 230, 0);
  text-decoration: underline;
}

.container.gallery-container {
  background-color: rgb(216, 11, 223);
  background-image: url(images/pngwing.com.png);
  background-size: contain;
  color: #ffffff;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media (max-width: 640px) {
  body {
    padding: 0;
  }
  .caja{
    width: 98%;
    margin-left: 3px;
  }
  .nav-link{
     bottom: -8px;
  padding: 10px 22px;
  margin: -18px;
  }

  .container.gallery-container {
    border-radius: 0;
  }
}
